<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome to the text analyzer. enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1126px; height: 200px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove puctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New line remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space remover<br>
    <button type='submit'> Analyze text</button>
</form>
</body>
</html>